Demos/Demos.xcodeproj/project.xcworkspace/xcshareddata
Demos/Demos.xcodeproj/project.xcworkspace/xcuserdata
Demos/Demos.xcworkspace/xcshareddata
Podfile.lock
Demos/Demos.xcodeproj/xcshareddata
Demos/Pods
xcschememanagement.plist
Demos/Demos.xcworkspace/xcuserdata
.swiftpm/xcode/package.xcworkspace/xcuserdata
.swiftpm/xcode/xcuserdata
Demos/Demos.xcodeproj/xcuserdata
