Demos/Demos.xcodeproj/project.xcworkspace/xcshareddata
Demos/Demos.xcodeproj/project.xcworkspace/xcuserdata
Demos/Demos.xcworkspace/xcshareddata
Podfile.lock
Demos/Demos.xcodeproj/xcshareddata
Demos/Pods
xcschememanagement.plist
Demos/Demos.xcworkspace/xcuserdata
.swiftpm/xcode/package.xcworkspace/xcuserdata
.swiftpm/xcode/xcuserdata
Demos/Demos.xcodeproj/xcuserdata
Demos/Documentation Project/Documentation Project.xcodeproj/xcuserdata
Demos/Documentation Project/Documentation Project.xcodeproj/project.xcworkspace/xcuserdata
Demos/Samples/Demos.xcworkspace/xcuserdata
Demos/Sparkline Demos/Sparkline Demos.xcodeproj/project.xcworkspace/xcuserdata/dford.xcuserdatad/UserInterfaceState.xcuserstate
Demos/Sparkline Demos/Sparkline Demos.xcodeproj/xcuserdata/dford.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Demos/Sparkline Demos/Sparkline Demos.xcodeproj/xcuserdata
Demos/Sparkline Demos/Sparkline Demos.xcodeproj/project.xcworkspace/xcuserdata
Demos/Playground/Sparklines Playground.xcworkspace/xcuserdata
Demos/Playground/Sparklines Playground.playground/playground.xcworkspace/xcuserdata
Demos/Playground/Sparklines Playground.xcworkspace/xcshareddata
.build
Demos/Samples/Demos.xcodeproj/project.xcworkspace/xcuserdata
Demos/Simple Wiper Gauge/Simple Wiper Gauge.xcodeproj/xcuserdata
IDEWorkspaceChecks.plist
Demos/Simple Wiper Gauge/Simple Wiper Gauge.xcodeproj/project.xcworkspace/xcuserdata
